/* BasketPopup.css */

body {
  background-color: #282c35;
}

.basket-popup {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100%;
  background-color: #2c3e50;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  transition: right 0.3s ease;
  color: #ecf0f1;
  font-family: 'Roboto', sans-serif; 
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #3498db;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.popup-header h2 {
  margin: 0;
  font-size: 1.5em;
}

.popup-header button {
  border: none;
  max-width: 170px;
  margin-left: 20px;
  color: #ecf0f1d7;
  font-size: 1.2em;
  cursor: pointer;
  transition: color 0.5s ease;
}

.popup-header button:hover {
  color: #e9da5c;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 15px;
  transition: background-color 0.3s ease;
}

.basket-item {
  display: flex;
  align-items: center;
  border: 1px solid #333;
  padding: 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.basket-item:hover {
  background-color: #333;
  transform: scale(1.02);
}

.basket-item-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 8px;
}

.basket-item-info {
  flex-grow: 1;
}

.basket-item-info h3 {
  font-size: 1.2em;
  margin: 0;
}

.basket-item-info p {
  font-size: 1.3em;
  color: #e74c3c;
  margin: 5px 0;
}

button {
  background-color: #2e7fb5;
  color: #fff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

.close-button {
  background-color: red;
  font-size: 1.5em;
}

.total-section {
  border: 1px solid #53535378;
  border-radius: 8px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.total-label {
  font-size: 1.2em;
}

.total-amount {
  font-size: 1.5em;
  color: #ff4d4d;
}

.complete-order-button {
  background-color: #4caf50;
  font-size: 1.5em;
  color: #fff;
  text-align: center;
  padding: 30px 30px;
  cursor: pointer;
  border-radius: 8px;
  scale: 0.95;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.complete-order-button:hover {
  background-color: #45a049;
  transform: scale(1.02);
}

.empty-basket-message {
  margin: 20px 0; 
  text-align: center;
  font-size: 1.2em; 
  color: #cbcbcb; 
}