/* FilterSidebar.css */

.filter-sidebar {
  font-size: 14px;
  background-color: var(--background-darker);
  color: var(--text-light);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  height: 100%;
  position: fixed;
  top: 60px; 
  left: 0;
  overflow-y: auto;
  width: 250px;
  z-index: 1;
  transition: transform 0.3s ease-in-out; 
}

.filter-sidebar h2 {
  font-size: 16px;
  margin-bottom: 12px;
}

.filter-sidebar .price-section,
.filter-sidebar .rating-section,
.filter-sidebar .discount-section {
  padding: 16px;
  background-color: var(--background-dark);
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease-in-out; 
}

button,
.apply-button {
  background-color: var(--primary-blue);
  color: var(--text-light);
  border: none;
  padding: 12px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  margin-top: 12px;
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

button:hover,
.apply-button:hover {
  background-color: hsl(207, 100%, 45%);
}

.price-inputs,
.rating-inputs,
.discount-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.price-inputs label,
.rating-inputs label,
.discount-inputs label {
  margin-bottom: 6px;
}

.price-inputs input,
.rating-inputs input,
.discount-inputs input {
  border: 1px solid var(--primary-blue);
  border-radius: 4px;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 4px;
  background-color: var(--background-dark);
  color: var(--text-light);
}

.price-section:hover,
.rating-section:hover,
.discount-section:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

