/* Slideshow */
.slideshow {
  margin-top: 80px;
  position: relative;
  overflow: hidden;
}

.slideshow-image {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.slide-button {
  max-height: 40px;
  max-width: 40px;
  position: absolute;
  top: 50%;
  font-size: 2em;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  color: #3498db;
}

.prev-button {
  left: 10px;
  transform: translateY(-50%);
}

.next-button {
  right: 10px;
  transform: translateY(-50%);
}

.progress-bar {
  height: 5px;
  background-color: #3498dbb6;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  animation: progress-animation linear infinite;
}

@keyframes progress-animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
