/* OrderCompletePopup.css */
.order-complete-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:beige;
    background-color: #343434;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    opacity: 0;
    border-radius: 18px;
    animation: fadeIn 0.5s forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .order-content {
    padding: 20px;
  }
  
  .order-complete-popup button {
    background-color: #ff4d4d;
    color: #282828;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  .order-complete-popup button:hover {
    background-color: #e33e3e;
  }
  