

  /* ProductList.css */

.product-list-container {
  display: flex;
  padding: 20px;
  overflow-y: auto;
  margin-left: 350px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: flex-start;
}

.product-list-container {
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  align-items: center; 
  background-color: var(--background-darker);
  border: 1px solid #333;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 250px;
  text-align: center;
  transition: transform 0.5s ease;
  border-radius: 12px;
  overflow: hidden;
  margin: 0px;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-image {
  margin-top: 10px;
  width: 150px; 
  height: auto; 
  border-radius: 8px;
}

.product-info {
  padding: 2px; 
}

.product-title {
  font-size: 20px;
  margin-top: 2px;
  margin-bottom: 5px;
  color: var(--text-light);
}

.product-description {
  color: #777;
  font-size: 14px;
}

.product-price {
  font-weight: bold;
  margin-top: 3px;
  font-size: 18px;
  color: var(--accent-red);
}

.add-to-cart-button {
  background-color: var(--primary-blue);
  color: var(--text-light);
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 3px;
  border-radius: 3px;
  transition: background-color 0.5s ease;
  display: inline-block;
}

.add-to-cart-button:hover {
  background-color: hsl(207, 100%, 40%);
}

.sorting-section {
  flex: 0 0 20%; 
  margin-right: 100px; 
  margin-left: auto;
  margin-bottom: 20px;
}

  .sort-label {
    font-size: 16px;
    color: #555;
  }
  
  .sort-select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
  }
  